# Système Mac
.DS_Store
*/.DS_Store

# Xcode
build/
DerivedData/
*.xcuserdata
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# Firebase Private tokens and sensitive credentials
GoogleService-Info.plist
Secrets.xcconfig

# Xcode automatic plist
Info.plist
